
                *{
                  margin: 0;
                  padding: 0;
                }
                body{
                  background-color: #f1f2f3;
                  font-family: sans-serif;
                }
                .top-nav-bar{
                  height: 57px;
                  top: 0;
                  position: sticky;
                  background: #fff;
                  margin-bottom: 20px;
                  border-bottom: 3px solid orange;
                  z-index: 2;
                }
                .logo{
                  height: 48px;
                  margin: 5px 10px;
                }
                       /*Search Bar or Box exclude(Search bar Icon)*/
             /*Concept This is a form and input text means search bar or Box is affix on this form*/
                .form-control{
                  margin-top: 10px;
                  margin-left: 40px;
                  border:1px solid orange !important;
                   /*Left Side Search Bar Radius*/
                  border-top-left-radius: 20px !important;
                  border-bottom-left-radius: 20px !important;
                   /*Right Side Search Bar Radius*/
                  border-top-right-radius:0 !important;
                  border-bottom-right-radius: 0 !important;
                  box-shadow: none !important;
                }
                 /* ICON SEARCH BAR or Box*/
                .input-group-text{
                  background: orange !important;
                  border:5px solid orange !important;
                  margin: 8.8px/*(Top)*/ 10px/*(Left)*/ 10px/*(Bottom)*/ 0px/*(Right)*/ !important;
                  /*Search Icon Image Left Sides*/
                  border-top-left-radius: 0px !important;
                  border-bottom-left-radius: 0px !important;
                  /*Search Icon Image Right Sides*/
                  border-top-right-radius:20 !important;
                  border-bottom-right-radius:20 !important;
                  cursor: pointer;
                }
                .search-box{
                  display: inline-flex;
                  width: 60%;
                }
                /*--------------------------MENU BAR Ex:Cart,Sign Up,Sign IN-------------------------*/

                .menu-bar{
                 width: 40%;
                 height: 57px;
                 float: right;
                } 
               .menu-bar ul{
                display: inline-flex;
                float: right;
                }
               .menu-bar ul li{
                border-left: 1px solid #fff;
                list-style-type: none;
                padding: 15px 35px;
                text-align: center;
                background-color: orange;
                cursor: pointer;
                }
                .menu-bar ul li a{
                  font-size: 16px;
                  font-weight: bold;
                  color: #fff;
                  text-decoration: none;
                }
                /*-------------------END MENU BAR Ex:Cart,Sign Up,Sign IN----------------------*/ 


                /*-----------fa fa-shopping basket ex cart,login and sing up image-------------*/
                .fa-shopping-cart{
                  margin-right: 5px;
                }
                /*------------ End fa fa-shopping basket ex cart,login and sing up image----------*/


                /*---------------------------- MEDIA QUERY For Menu Bar--------------------------------------*/
                @media only screen and (max-width: 980px)
                {
                  .top-nav-bar{
                    height: 118px;
                    border-bottom: 0;
                  }
                  .search-box{
                    width: 100%;
                  }
                  .menu-bar{
                    width: 100%;
                  }
                  .menu-bar ul{
                    margin: 10px 0;
                    width: 100%;
                  }
                  .menu-bar ul li{
                    height: 57px;
                    width: 100%;
                  }

                }
                /*--------------------------SIDE MENU ex:On Sale,Mobile------------------------*/
                .side-menu{
                  height: 550px;
                  width: 15%;
                  font-size: 14px;
                  float: left;
                  z-index: 2;
                 /* background-color:#ddd;*/
                  background-image:linear-gradient(to right, #6db9ef, #7ce08a)
                } 
                /*--------------------Side Menu ul means On Sale,Mobile----------------------*/
                 .side-menu ul{
                  margin-left: 10px;
                 }
                 /*------------------ul li means sub-menu/On Sale,Mobile-------------------------------------*/
                  .side-menu ul li{
                    list-style-type: none;
                    font-weight: bold;
                    margin-top: 10px;
                    cursor: pointer;
                  }
                   .side-menu ul li:hover{
                    color: orange;
                   }
                   /*------------------ul li ul means sub-menu-----------------------------------*/
                    .side-menu ul li ul{
                      display: none;
                      z-index: 10;
                      top: 77px;
                    }
                    .side-menu ul li:hover ul{
                      display: block;
                      height: 400px;
                      margin-left: 14%;
                      padding: 0 100px 10px 10px;
                      position: fixed;
                      background:#ececec;
                      box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
                    }
                    .fa-angle-right{
                      margin-top: 4px;
                      margin-right: 8px;
                      float: right;
                    }
                    #menu-btn,#close-btn{
                      font-size: 30px;
                      margin: 10px;
                      color: orange;
                      display: none;
                    }
                /*--------------------END SIDE MENU-----------------------------*/ 

         /*---------------------------- MEDIA QUERY For Side Menu--------------------------------------*/
                @media only screen and (max-width: 980px)
                {
            .side-menu{
              width: 34%;
              z-index: 20;
              top: 133px;
              position: fixed;
              font-size: 12px;
            }
            .side-menu ul li ul{
              top: 133px;
            }
            .side-menu ul li:hover ul{
              margin-left: 31%;
            }
            #menu-btn{
              display: block;
            }

                }
        /*.............................SLIDERS.............................*/
         .slider{
          width: 85%;
          margin-left: 15%;
          padding: 0 10px;
         }
         .slider img{
          height: 550px;
         }
         .carousel{
          box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
         }
         .carousel-indicators{
          z-index: 1 !important;
         }
          /*............................END SLIDERS.............................*/

           /*---------------------------- MEDIA QUERY For Slider--------------------------------------*/
                @media only screen and (max-width: 980px)
                {
                  .slider{
                    width: 100%;
                    margin-left: 0;
                  }

                }

        /*.................................1st Watch Feature-categories css.....................*/
        .Featured-categories{
          margin: 50px 0;
        }
        .Featured-categories img{
          width: 100%
          padding:20px 0;
          transition:1s;
          cursor: pointer;
        }
        .Featured-categories img:hover{
          transform: scale(1.1);
        }
       /*.................................End Feature-categories css......................*/

       /*........................On Sale Products css..................................*/
       .title-box{
        background: orange;
        color: #fff;
        width: 180px;
        padding: 4px 10px;
        height: 40px;
        margin-bottom: 30px;
        display: flex;
       }
       .title-box h2{
        font-size: 24px;
       }
       .title-box::after{
        content: '';
        border-top: 40px solid orange;
        border-right: 50px solid transparent;
        position: absolute;
        display: flex;
        margin-top: -4px;
        margin-left: 170px;
       }

       /* .......................End On Sale Products css...........................*/
          
          /*.......................Products Top css means Image in row.......................*/
      .product-top img{
        width: 100%
      }
       .product-top img{
        height: 200px;
      }
      .overlay-right{
        display: block;
        opacity: 0;
        position: absolute;
        top: 10%;
        margin-left: 0;
        width: 70px;
      }
      .overlay-right.fa{
        cursor: pointer;
        background-color: #fff;
        color: #000;
        height: 35px;
        width: 35px;
        font-size: 20px;
        padding: 7px;
        margin-top: 5%;
        margin-bottom: 5%;
      }
      .overlay-right .btn-secondary{
        background: none !important;
        border:none !important;
        box-shadow: none !important;
      }
      .product-top:hover .overlay-right{
        opacity: 1;
        margin-left: 5%;
        transition: 0.5s;
        background-color: orange;
      }
           /*.......................End Products Top css....................................*/

          /*....................... Products Bottom css means Rating star............................*/
          .product-bottom .fa{
            color: orange;
            font-size: 10px;
          }
          .product-bottom h3{
            font-size: 20px;
            font-weight: bold;
          }
          .product-bottom h5{
            font-size: 15px;
            padding-bottom: 10px;
          }
          .new-products{
            margin: 50px 0;
          }
          /*.......................End Products Bottom css....................................*/


           /*<!-- ........................Websites Features 100% Original Image/Logo................. -->*/

.website-features{
  margin: 60px 0;
}
.website-features img{
  width: 20%;
}
    
    .feature-text{
      margin-top: 10px;
      float: right;
      width: 80%;
      padding-left: 20px;

      }  
      .feature-box{
        padding-top: 20px;
        }    /*...............................End Websites Features...............................*/
                     

                     /*----------------------------Footer---------------------------------------*/

.footer{
  margin-top: 50px;
  background: #000;
  color: #fff;
}
.footer h1{
  font-size: 15px;
  margin: 25px 0;
}                 
.footer p{
  font-size: 12px;
}   
.copyright{
  margin-bottom: -80px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
} 
.fa-heart-o{
  color: red;
  font-size: 15px;
} .footer hr{
  margin-top: 10px;
  background-color: #ccc;
}
.footer-image img{
  width: 150px;
}
.footer .row .fa{
  padding-right: 20px;
  font-size: 15px;
}
                     /*----------------------------End Footer---------------------------------------*/
             